lida
llmx>=0.0.21a
pydantic
uvicorn
typer
fastapi
python-multipart
scipy
pandas
numpy
matplotlib
altair
seaborn
plotly
plotnine
statsmodels
networkx
geopandas
matplotlib-venn
wordcloud
gradio
python-dotenv
